/* Import the Heebo-Regular font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

/* Hamburger menu */
.hamburger-menu {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fff;
  max-width: 1000px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.input {
  color: #8707ff;
  border: 2px solid #112650;
  border-radius: 10px;
  padding: 15px 25px;
  background: transparent;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.login-button {
  color: #fff;
  background-color: #112650;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  width: 100%;
  max-width: none;
  height: 50px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: none;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 0.5rem;
  width: 60%;
  max-width: none;
}

.divider-text {
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #aaa;
  padding: 0.5rem;
  width: 60%;
  min-width: 0;
  white-space: nowrap;
  text-align: center;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: none;
}

.social-login p {
  font-size: 0.75rem;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.social-login img {
  width: 48px;
  height: 48px;
}

.welcome-text {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  margin-left: -5px;
}

.welcome-text span {
  color: #070427;
  margin-right: 10px;
}

.login-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #b0b6c3;
  margin-bottom: 10px;
  width: 100%;
  margin-left: -5px;
}

/* Added styles for mobile devices */
@media screen and (max-width: 768px) {
  .image-container {
    width: 155px;
    height: 155px;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 999;
  }

  .line {
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin: 4px;
    transition: all 0.3s ease;
  }

  .active .line:nth-child(1) {
    transform: rotate(45deg) translate(3px, 4px);
  }

  .active .line:nth-child(2) {
    transform: rotate(-45deg) translate(3px, -4px);
  }

  .active .line:nth-child(3) {
    transform: scale(0);
  }
}

/* Styles for stretching content */
body {
  font-family: 'Heebo-Regular', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

/* Signup Styles */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start */
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fff;
  max-width: 1000px; /* Increased max-width from 100% to 1000px */
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Changed from flex-start to center */
  margin-top: 20px; /* Changed margin-top from 40px to 20px */
  width: 100%;
  max-width: 600px;
}

.signup-button {
  color: #fff !important;
  background-color: #112650 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 15px 25px !important;
  cursor: pointer !important;
  width: 100% !important;
  max-width: none !important;
  height: 50px !important;
  margin-top: 20px !important;
}


.signup-form input {
  color: #8707ff;
  border: 2px solid #112650;
  border-radius: 10px;
  padding: 15px 25px;
  background: transparent;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.signup-info {
  text-align: left;
  margin-right: auto;
  margin-left: 0;
}
.signup-title {
  color: #070427;
}

.signup-subtitle {
  color: #b0b6c3;
}

.signup-hint a {
  color: #ff8112;
}

.orange-link:hover {
  border-bottom: 1px solid #ff8112;
}

.forgot-container {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  width: 107px;
  line-height: 19px;
}
